.book-card {
    border: 1px solid red;
    padding: 10px;
    border-radius: 10px;
    width: 90%;
    margin: auto;
    cursor: pointer;
}

.book-contaniner {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.buttonGroup{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.buttonGroup button{
    padding: 10px;
}